# Next.js build output
.next/
out/

# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Environment Variables
.env
.env*.local
.env.development
.env.test
.env.production

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.pem

# Cache and Logs
.cache/
*.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Misc
*.bak
*.tmp
*.temp 